
body{
    box-sizing: content-box;
 
}
nav{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    display: inline;
    text-decoration: none;
    
}
#container{
    display: flex;
    width: 80%;
    margin-left: 180px;
    margin-top: 50px;
}
.images{
    border: 1px solid black;
    padding: 5px;
    text-align: justify;
    margin-left: 10px;
    
}
img{
    width: 100%;
    height: 70%; 
}
footer{
    background: #000;
    color: white;
    margin-top: 50px;
    text-align: center;
    
}

table{
    display: flex;
    justify-content: center;
}
#fbtn{
    width: 400px;
    background: yellow;
    padding:5px;
    color: #000;
}

button{
    background: black;
    color: white;
    margin-left: 110px;
    margin-top: 10px;

}